@font-face {
    font-family: MiFuente;
    src: url("../fonts/HelveticaNeue.ttc");
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.fontBold {
    font-family: MiFuenteBold;
}
body{
    margin: 0;
    padding: 0;
    background: url("../images/fondo.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    position: relative;
    background-size: cover;
}
a{
  color: #fff;  
  text-decoration: none;
}
.logo{
    width: 400px;
    display: block;
    margin-bottom: 20px;
}
p{
    display: block;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 25px;
    letter-spacing: 10px;
    margin-top: 5px;
}
.contact{
    position: absolute;
    bottom: 20px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
}
@media (max-width: 400px){
    body{
        background: url("../images/fondo_cel.jpg");
        background-size: cover;
    }
    .logo{
        width: 90%;
    }
    p{
        font-size: 20px;
    }
}